body{
    font-family: Arial;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url("http://drive.google.com/uc?export=view&id=1ZI9vYFyhEHkbckc8lbuVSFksqGrpg9Zi");
  }
  h1{
    color: blue;
  }
  h3{
    color: orange;
  }
  hr{
    border: 10px solid black;
  }
  
  img{
    border: 3px solid grey
  }